@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  position: sticky;
  top: 0;
  z-index: 12;
  display: flex;
  background-color: rgb(37, 37, 37);
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}
header li,
a,
input button {
  font-weight: 10;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
header ul {
  display: flex;
}
.logo {
  cursor: pointer;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a:hover {
  color: rgb(139, 139, 139);
}
header form button {
  height: 34px;
  padding: 10px 13px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
header form button:hover {
  background-color: rgb(233, 233, 233);
}
header form input {
  text-align: center;
  margin-right: 5px;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 34px;
}
.cart-nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  width: 60px;
  height: 15px;
  padding: 10px 10px;
  border-radius: 10px;
}
.cart-nav .icon {
  color: rgb(0, 0, 0);
}
.cart-nav .icon i {
  font-size: 20px;
}
.cart-nav .item-numb {
  font-size: 15px;
  height: 23px;
  width: 23px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  background: rgb(87, 87, 87);
  border: 1px solid rgb(87, 87, 87);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(37, 37, 37);
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
    color: rgb(139, 139, 139);
}


