html 
    head 
        link(rel='stylesheet', href='/styles/layout/header.css')
        link(rel='stylesheet', href='/styles/thankyou/home.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
        title X-Mobie
    body
        header
            a(href='/')
                img.logo(src='../images/logo.png', width='120px', height='60px')
            ul.nav__links
                li.hover
                    a(href='/products') Tất cả
                li
                    a(href='/products/apple') Apple
                li
                    a(href='/products/samsung') Samsung
                li
                    a(href='/products/oppo') Oppo
                li
                    a(href='/products/realme') Realme
                li
                    a(href='/products/vsmart') Vsmart
                li 
                    .dropdown
                        a.button.dropbtn(href='/products/accessories') Phụ kiện
                        .dropdown-content
                            a(href='/products/case') Ốp lưng
                            a(href='/products/charger-cable') Cáp sạc | Củ sạc
                            a(href='/products/battery') Pin dự phòng
                li
                    a(href='/news') Tin tức
            form(action='/products/search', method='get')
                input(type='text', name='q', placeholder='Nhập tên sản phẩm...')
                button(type='submit')
                    i.fas.fa-search
            a(href="/cart")    
                .cart-nav 
                    .icon 
                        i.fas.fa-shopping-cart
                    .item-numb #{countCart}

        .center
            .text
                h1 ĐẶT HÀNG THÀNH CÔNG!
                h3 Mã đơn hàng của bạn là #{orderId}
                br
                | Vui lòng truy cập vào 
                a.orderlink(href="/tracking-order")  đây  
                | để kiểm tra đơn hàng của bạn!
                br
                br
                br
                h3 Xin cảm ơn!