extends ../layout/header
block header
    .center
        img(src='../images/notFound.png')
        .empty
            h2 Không có sản phẩm nào trong giỏ hàng, vui lòng tải lại trang!
            br
            a(href='/') 
                button Quay về trang chủ